:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right, #4a00e0, #8e2de2, #eacda3, #f6a944);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input, button {
  font: size 32px;
}
li{
list-style-type: none;
}

img{
  max-width: 100%;
  height: auto;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
 }
main {
  padding: 1rem;
}
